@{
    ViewBag.Title = "Sam's Travel Reviews";
}

<div class="jumbotron">
    <h1 id="jumbotron-heading">Sam's Travel Reviews</h1>
    <p class="lead">Sam's Travel Reviews features user-submitted content from destinations around the world.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <h2>Reviews</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus in turpis a ultricies. Quisque at nisl bibendum, sagittis eros vel, eleifend eros. Cras sed erat tincidunt, lacinia tellus ac, sollicitudin nisl.</p>
            <p><a class="btn btn-default" href="Reviews/Index">Read more &raquo;</a></p>
        </div>
        </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <h2>Destinations</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus in turpis a ultricies. Quisque at nisl bibendum, sagittis eros vel, eleifend eros. Cras sed erat tincidunt, lacinia tellus ac, sollicitudin nisl.</p>
            <p><a class="btn btn-default" href="Categories/Index">Learn more &raquo;</a></p>
        </div>
    </div>
</div>